#jupiter button.active {
    background-color: $red;
}

#jupiter.grid-display .viewButtons .mobile-btn div.active {
    border-bottom: 2px solid $red;
}

#earth button.active {
    background-color: $purple;
}

#earth.grid-display .viewButtons .mobile-btn div.active {
    border-bottom: 2px solid $purple;
}

#mars button.active {
    background-color: $darkorange;
}

#mars.grid-display .viewButtons .mobile-btn div.active {
    border-bottom: 2px solid $darkorange;
}

#mercury button.active {
    background-color: $lightblue;
}

#mercury.grid-display .viewButtons .mobile-btn div.active {
    border-bottom: 2px solid $lightblue;
}

#venus button.active {
    background-color: $yellow;
}

#venus.grid-display .viewButtons .mobile-btn div.active {
    border-bottom: 2px solid $yellow;
}

#neptune button.active {
    background-color: $blue;
}

#neptune.grid-display .viewButtons .mobile-btn div.active {
    border-bottom: 2px solid $blue;
}

#saturn button.active {
    background-color: $orange;
}

#saturn.grid-display .viewButtons .mobile-btn div.active {
    border-bottom: 2px solid $orange;
}

#uranus button.active {
    background-color: $lightbluegreen;
}

#uranus.grid-display .viewButtons .mobile-btn div.active {
    border-bottom: 2px solid $lightbluegreen;
}