#jupiter button.active{
    background-color: $red;
}
#earth button.active{
    background-color: $purple;
}
#mars button.active{
    background-color: $darkorange;
}
#mercury button.active{
    background-color: $lightblue;
}
#venus button.active{
    background-color: $yellow;
}
#neptune button.active{
    background-color: $blue;
}
#saturn button.active{
    background-color: $orange;
}
#uranus button.active{
    background-color: $lightbluegreen;
}