#Navigation {
    background-color: transparent;
    padding-bottom: 2em;
    border-bottom: 1px solid;
    .container {
        .navbar-brand {
            font-family: $antonio;
            font-weight: 400;
            font-size: 28px;
            text-transform: uppercase;
            line-height: 36.23px;
            letter-spacing: -1.05px;
            width: 109px;
            height: 36px;
            color: $white;
        }
        #basic-navbar-nav {
            .navbar-nav {
               .nav-link {
                font-style: normal;
                font-weight: bold;
                font-size: 11px;
                line-height: 25px;                
                letter-spacing: 1px;
                text-transform: uppercase;                
                color: #FFFFFF; 
                height: 25px;
               } 
            }
        }
    }
}