//Fonts 
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@300;400;600;700&family=Spartan:wght@400;600;700&display=swap');

$antonio: 'Antonio', sans-serif;
$spartan: 'Spartan', sans-serif;


$white: #fff;
$darkblue: #070724;
$darkgrey: #38384F;
$lightgrey: #838391;
$lightblue: #419EBB;
$yellow: #EDA249;
$purple: #6f2ed6;
$darkorange: #D14C32;
$red: #D83A34;
$orange: #CD5120;
$lightbluegreen: #1ec2a4;
$blue: #2d68f0;